<!DOCTYPE html>
<html>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="binancekey">BINANCE KEY</label>
          <input type="text" class="form-control" id="binancekey" aria-describedby="emailHelp" placeholder="Enter Binance Key" name="binancekey">
          <small id="emailHelp" class="form-text text-muted">We'll never share your Key with anyone else.</small>
        </div>
        
        <div class="form-group">
          <label for="binancesecret">BINANCE SECRET</label>
          <input type="text" class="form-control" id="binancesecret" placeholder="Enter Binance Secret" name="binancesecret">
        </div>
        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
      </form>
</html>